<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ride with Confidence</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ride with confidence</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br>
    <div class="container">

    <div class="starter-template">
        
        <h3>This route is {{route_length}} miles long and we are sampling it at {{Nsamples}} points.</h3>
        <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center">
        <img src="/static/colorbar2.jpg" width="600" height="90">
        <form id="Export_button" action='/export_route/{{filename}}' method=get>
  <button type="submit" id="export_button" class="btn btn-default btn-lg">Export route!</button>
</form>
</div>
    </div></div>




    <div id="map"></div>
    <script>

      // This example creates a 2-pixel-wide red polyline showing the path of
      // the first trans-Pacific flight between Oakland, CA, and Brisbane,
      // Australia which was made by Charles Kingsford Smith.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: {{center_lat}}, lng: {{center_long}}},
          mapTypeId: 'satellite'
        });
        var sw_corner=new google.maps.LatLng({{minlat}},{{minlong}});
        var ne_corner=new google.maps.LatLng({{maxlat}},{{maxlong}});
        var bounds = new google.maps.LatLngBounds(sw_corner, ne_corner);
        map.fitBounds(bounds);
        var list_of_lines=JSON.parse('{{ list_of_lines | tojson | safe}}');
        var color_list=JSON.parse('{{ color_list | tojson | safe}}');
        var arrayLength = list_of_lines.length;
        var list_of_added_polylines=[];
        for (var i = 0; i < arrayLength; i++) {
          var flightPath = new google.maps.Polyline({path: list_of_lines[i],geodesic: true,strokeColor: color_list[i],strokeOpacity: 1.0,strokeWeight: 3});
        flightPath.setMap(map);
        list_of_added_polylines.push(flightPath)
        }
        

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{JS_google_key}}&callback=initMap">
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>